#weatherMain{
    display:flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    color:white;
    background: black;
    background: linear-gradient(black,rgb(1, 1, 145));
    border-radius: 15px;
    width:400px;
    height:400px;
    margin:0 auto;
    Font-family:  'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;

}
.data_row{
    display:block;
    width:fit-content;
    margin:0 auto;
}
.sun{
    color:rgb(233, 233, 54);
    font-size: 50px;
    margin-top: 10px;
    filter: drop-shadow(1px 1px 10px yellow);
}
.moon{
    color:white;
    font-size: 50px;
    margin-top: 10px;
    filter: drop-shadow(1px 1px 10px white);
}
.cloud{
    color:rgb(111, 162, 221);
    font-size: 50px;
    margin-top: 10px;
    filter: drop-shadow(1px 1px 10px rgb(111, 162, 221));
    animation-name:cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-direction: alternate;
}
.cloudDiv{
    margin-top: -50px;
}
@keyframes cloudMovement{
    from{margin-left:-50px}
    to{margin-left:50px}
}
.loader {
    border: 7px solid #f3f3f3a6; 
    border-top: 7px solid #17557e; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    align-self: center;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}